<div class="p-3 mb-2 bg-primary text-white"><ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"  [routerLink]="['/liste-categories-Admin']"  style="color: white;font-size: large;">Liste de catégories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [routerLink]="['/liste-employes-Admin']" style="color: white; font-size: large;" >Liste d'employés</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"[routerLink]="['/login']" style="color: white;font-size: large;">Se déconnecter</a>
  </li>

</ul>
</div>