<app-header></app-header>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> <h5>Documents</h5></th>
    </tr>
  </thead>
  <tbody *ngFor="let doc of documents" >
    <tr *ngIf="documents.length > 0; else noDocs">
    <td >
        <h5>{{ doc.nom }}</h5>
        <p>{{ doc.description }}</p>                  
    </td>
    <td>
        <button type="button" class="btn btn-success"  (click)="download(doc)">Telecharger</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger" (click)="delete(doc.id!)">Supprimer</button>
    </td>
    </tr>
 
  </tbody>
</table>

<ng-template #noDocs>
  <p>Aucun document trouvé pour cette catégorie.</p>
</ng-template>

