<app-header></app-header>
<div *ngIf="erreur" class="alert alert-danger">
  {{ erreur }}
</div>
<table *ngIf="utilisateurs.length > 0" class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr  *ngFor="let utilisateur of utilisateurs">
    <td>{{utilisateur.nom}}</td>
    <td>{{ utilisateur.prenom }}</td>
    <td><button type="button" class="btn btn-outline-success">Ajouter</button> </td>
    <td> <button type="button" class="btn btn-outline-danger">Supprimer</button></td>
  </tr>
</tbody>
</table>
<div *ngIf="utilisateurs.length === 0 && !erreur">
  Aucun utilisateur trouvé.
</div>

